*chr[123456789]*
*chr1[0123456789]*
*chr2[012]*
*chrX*
*output/
*.*out*
*.gz
*.bgz
*.tbi
*.zip
*log
*logs/
*.swp
*.swn
*.swm
.ipynb_checkpoints/
*.vcf
*.dat
*.sample
*tmp.*
*temp.*
*tmp
*temp
Temp*
Tmp*
*.swo
*.stderr
*.bim
*.md5
*.tar
old*
__pycache__
.nfs*
*.dat
*.id
*.pickle
*.enc
*.enc_ukb
*.key
*.bulk
fields.ukb
.mypy_cache/
*lmdb*
dask-worker-space/
twistd.pid
.snakemake
*.npy
*Rplots.pdf
.RData
.Rhistory
*.gff3
dag.svg
export/*
malaria_STR.tab
temp*
.nextflow*
work
foo*
.snakemake_conda
*.h5
polars_repro
scratch
for_melissa*
*backup*
cromwell-workflow-logs
cromwell-executions
