*chr[123456789]*
*chr1[0123456789]*
*chr2[012]*
*chrX*
*output/
*.*out*
*.gz
*.tbi
*.zip
*log
*.swp
*.swn
*.swm
.ipynb_checkpoints/
*.vcf
*.dat
*.sample
*tmp*
*temp*
*.swo
*.stderr
*.bim
*.md5
*.tar
old*
__pycache__
.nfs*
*.dat
*.id
*.pickle
*.enc
*.enc_ukb
*.key
*.bulk
fields.ukb
.mypy_cache/
*lmdb*
dask-worker-space/
twistd.pid
.snakemake
*.npy
