nextflow.enable.dsl=2

import java.text.SimpleDateFormat 

now = "${new SimpleDateFormat('yyyy_MM_dd_HH_mm_ss').format(new Date())}"
cluster_max_retries = 1
profiles {
	// the default if no profile is specified
	standard {
		/*
		process {
			publishDir {
				path = '.'
				mode = 'link'
				enabled = { task.ext.publish }
			}
		}
		*/
	} 
	cluster {
		process {
			executor = 'slurm'
			queue = 'shared'
			errorStrategy = { task.attempt == cluster_max_retries ? 'retry' : 'ignore' }
			maxRetries = cluster_max_retries
			memory = '2GB'
		}
	}
}
dag {
	enabled = true
	file = "${launchDir}/nextflow/logs/${now}_dag.png"
}
