nextflow.enable.dsl=2

import java.text.SimpleDateFormat 

now = "${new SimpleDateFormat('yyyy_MM_dd_HH_mm_ss').format(new Date())}"
cluster_max_retries = 1
profiles {
	// the default if no profile is specified
	standard {
		process {
			withLabel: publish {
				publishDir {
					path = "." 
					mode = 'link'
					saveAs = { it.replace('__', '/') }
				}
			}
		}
	}
	cluster {
		process {
			withLabel: publish {
				publishDir {
					path = "." 
					mode = 'link'
					saveAs = { it.replace('__', '/') }
				}
			}
			beforeScript = { "mkdir -p $UKB/logs/${task.name.split(":")[-1].split(" ")[0]}" }
			executor = 'slurm'
			queue = 'shared'
			errorStrategy = { task.attempt == cluster_max_retries ? 'retry' : 'ignore' }
			maxRetries = cluster_max_retries
			memory = '2GB'
			clusterOptions = { """ \
				--nodes 1 \
				--ntasks-per-node 1 \
				--account ddp268 \
				--output=$UKB/logs/${task.name.split(":")[-1].split(" ")[0]}/$task.hash-%j.out \
			""" + ( task.attempt == cluster_max_retries ? "--mail-type FAIL --mail-user jbmargoliash@ucsd.edu " : "")		
			}
		}
		executor {
			name = 'slurm'
			queueSize = 4096
			submitRateLimit = '10/sec'
			jobName = { "nf-${task.name.split(":")[-1].split(" ")[0]}-$task.hash" } // TODO is this informative?
		}
	}
}
dag {
	enabled = true
	file = "${launchDir}/nextflow/logs/${now}_dag.png"
}
